  <div class="clicked-post">
      {{#each editedPosts}} 
    <h1><a href="/post/{{id}}">{{editedPosts.id}} {{editedPosts.title}} {{editedPosts.title}}</a></h1>
    <div class="body">
      {{body}}
    </div>
    {{/each}}
  </div>

